{%extends 'base.html'%}
{%block content%}
<div class="container">
<center><h4>Antecedentes</h4></center>
<p>
	
<br>
<br>

El Parque Científico y Tecnológico es el eje orgánico y programático para la inserción y consolidación de la UAEH en la economía del conocimiento. Se trata, en efecto, de un proyecto estratégico para la Universidad, cuya realización y consolidación exigen establecer una serie de condiciones normativas, institucionales, académicas y operativas, así como brindar la infraestructura y el equipamiento necesarios para su pleno desarrollo.
<br><br>
Conforme al Acuerdo de Creación de la Dirección del Parque Científico y Tecnológico, emitido por el Rector de la UAEH, su principal objetivo es constituir el espacio institucional de enlace y articulación entre la Universidad y los sectores productivos, precisamente para promover la transferencia y aplicación del conocimiento al servicio del desarrollo del estado de Hidalgo. Para ello, la Dirección del PCyT debe contar con el apoyo de las áreas sustantivas y administrativas de la UAEH, así como con los departamentos y unidades administrativas necesarias para el debido cumplimiento de sus funciones.
<br><br>
Es importante observar que el Acuerdo de Creación, además de adscribir directamente a la Rectoría la Dirección del Parque, prevé la posibilidad de márgenes operativos de autonomía que son indispensables para una interrelación oportuna, dinámica y eficiente con los diversos agentes y entidades, públicos y privados, con los cuales deberá establecer relaciones de asociación y colaboración, o bien convenir la prestación de servicios.

</p>
</div>

{%endblock content%}
