{%extends 'base.html'%}
{%block content%}

 <div class="container hoverable">
<div class="col s12 m8 offset-m2 l6 offset-l3">
        <div class="card-panel grey lighten-5 z-depth-1">
          <div class="row valign-wrapper">
            <div class="col s2">
              <img src="/static/dra.jpg" alt="" class="circle responsive-img"> <!-- notice the "circle" class -->
            </div>
            <div class="col s10">
              <span class="black-text">
                Dra. Lydia Raesfeld<br>
                Directora del Parque Científico y Tecnológico<br>
        				Torres de Rectoría 3er piso. Carretera Pachuca –Actopan Km, 4.<br>
                CP.42039 Pachuca Hidalgo, México<br>
        				Tel (52) 01 771 71 7 2000 Ext. 2790<br>
        				Email: transferencia@uaeh.edu.mx <br>
        				raesfeld@uaeh.edu.mx
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>  

    <div class="container hoverable">
<div class="col s12 m8 offset-m2 l6 offset-l3">
        <div class="card-panel grey lighten-5 z-depth-1">
          <div class="row valign-wrapper">
            
            <div class="col s10 right-align">
              <span class="black-text ">
                Ing. Alberto Hernandez Gómez<br>
                Oficina de Transferencias<br>
        				Torres de Rectoría 3er piso. Carretera Pachuca –Actopan Km, 4.<br>
        				CP.42039 Pachuca Hidalgo, México<br>
        				Tel (52) 01 771 71 7 2000 Ext. 2790<br>
        				Email: alhernandez@uaeh.edu.mx <br>
        				propiedadintelectual@uaeh.edu.mx
              </span>
            </div>
            <div class="col s2">
              <img src="/static/alberto.jpg" alt="" class="circle responsive-img"> <!-- notice the "circle" class -->
            </div>
          </div>
        </div>
      </div>
    </div> 

    <div class="container hoverable">
<div class="col s12 m8 offset-m2 l6 offset-l3">
        <div class="card-panel grey lighten-5 z-depth-1">
          <div class="row valign-wrapper">
            <div class="col s2">
              <img src="/static/ivan.jpg" alt="" class="circle responsive-img"> <!-- notice the "circle" class -->
            </div>
            <div class="col s10">
              <span class="black-text">
                Lic. Ivas Salinas Peña<br>
                Área Juridica<br>
				Torres de Rectoría 3er piso. Carretera Pachuca –Actopan Km, 4.<br>
				CP.42039 Pachuca Hidalgo, México<br>
				Tel (52) 01 771 71 7 2000 Ext. 2790<br>
				Email: ivan.salinas34@gmail.com<br>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>      

<div class="container hoverable">
<div class="col s12 m8 offset-m2 l6 offset-l3">
        <div class="card-panel grey lighten-5 z-depth-1">
          <div class="row valign-wrapper">
            
            <div class="col s10 right-align">
              <span class="black-text ">
                Dr. Cesar Abelardo<br>
                Planta Piloto<br>
                Ciudad del Conocimiento<br>
                Kilómetro 4.5 carretera Pachuca - Tulancingo<br> 
                Colonia Carboneras de Mineral de la Reforma<br>
                Universidad Autonoma del Estado de Hidalgo<br>
                Tel (52) 01 771 71 7 2000 Ext. 2903<br>
                Email: alhernandez@uaeh.edu.mx <br>
                propiedadintelectual@uaeh.edu.mx<br>
              </span>
            </div>
            <div class="col s2">
              <img src="/static/abelardo.jpg" alt="" class="circle responsive-img"> <!-- notice the "circle" class -->
            </div>
          </div>
        </div>
      </div>
    </div> 

    <div class="container hoverable">
<div class="col s12 m8 offset-m2 l6 offset-l3">
        <div class="card-panel grey lighten-5 z-depth-1">
          <div class="row valign-wrapper">
            <div class="col s2">
              <img src="/static/ivan.jpg" alt="" class="circle responsive-img"> <!-- notice the "circle" class -->
            </div>
            <div class="col s10">
              <span class="black-text">
                Mtra. Paola Garcia Fuentes<br>
                Área de Capacitacion<br>
        Torres de Rectoría 3er piso. Carretera Pachuca –Actopan Km, 4.<br>
        CP.42039 Pachuca Hidalgo, México<br>
        Tel (52) 01 771 71 7 2000 Ext. 2790<br>
        Email: paola_garciafuentes@hotmail.com<br>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>

{%endblock content%}