{%extends 'base.html'%}
{%block content%}

<div class="container">

	<h4><center> FUNCIONES</center></h4>
<p>
<br>
1. Fomentar y orientar la investigación científica, humanística y tecnológica de manera que responda a las necesidades del desarrollo integral de la entidad y del país.
<br>
<br>
2. Ser uno de los actores fundamentales para impulsar la innovación; a través del fomento a la protección de la propiedad intelectual y la transferencia de conocimiento, ya sea mediante los mecanismos de licenciamiento, la creación de empresas de base tecnológica y los servicios de consultoría entre otros, todo esto con miras a generar impacto en la región y en el país, aumentando la competitividad.
<br>
<br>
3. Crear alianzas directas entre nuevas empresas de base tecnológica, incubadoras, empresas ya instaladas que requieren proyectos de desarrollo e innovación y el desarrollo de nuevas oportunidades de negocios.
<br>
<br>
4. Ofrecer mecanismo ágiles de transferencia de conocimiento y tecnología en un solo lugar, permitiendo la interacción de las partes para la comunicación directa entendiendo necesidades de cada parte.
<br>
<br>
5. Impulsar a la comunidad académica en sus intereses de investigación, desarrollo, transferencia de conocimiento y emprendimientos con impacto económico para la región. 
<br>
<br>
6. Apoyar en el crecimiento, desarrollo y posicionamiento de empresas de la región; a la aplicación de innovaciones y mejoramiento de procesos que contribuyan a la consolidación de modelos de producción sustentables, generadoras de empleo; y sobre todo, se lograr una mejora económica y social de la comunidad y de la competitividad de la región.
<br>
<br>
7. Impulsar la aplicación práctica de las investigaciones de la UAEH y de las tecnologías que lleguen a implementarse en las empresas, para el beneficio público en aras de impulsar y apoyar actividades de protección, licenciamiento y comercialización de dichas tecnologías.
<br>
<br>
8. Capacitar al personal de la OT e incrementar el número de solicitudes de patentes.
<br>
<br>
9. Impulsar a la comunidad académica en sus intereses de investigación, desarrollo, transferencia de conocimiento y emprendimientos con impacto económico para la región.
<br>
<br>
10. Madurar servicios de transferencia de conocimiento (consultoría, licenciamiento y spinouts)
<br>
<br>
11. Generar el vínculo con inversionistas 
<br>
<br>
12. Desarrollar todas aquellas funciones inherentes al área de su competencia.
</p>
</div>

{%endblock content%}
