{%extends 'base.html'%}
{%block content%}
<div class="container">
<center><h4>Objetivo</h4></center>

<br>

<center><h5>Sus principales objetivos, en síntesis, son los siguientes:</h5></center>

<p>
<li>Promover, consolidar y dinamizar las relaciones UAEH-empresas.</li>

<li>Ofrecer servicios de alta calidad a sus clientes y usuarios, con el fin de facilitar la transferencia de conocimiento y tecnología entre la UAEH y los sectores productivos.</li>

<li>Apoyar la creación y consolidación de empresas, sobre todo de base tecnológica.</li>

<li>Fomentar las vocaciones y capacidades científicas y tecnológicas de la comunidad universitaria.</li>

<li>Diseñar y desarrollar un nuevo modelo de gestión para la innovación y la transferencia.</li>

<li>Fomentar y proteger el valor de la propiedad intelectual de la UAEH y sus investigadores.</li>

<li>Gestionar de forma eficaz y eficiente los espacios que la UAEH ha asignado para su desarrollo</li>

</p>
</div>

{%endblock content%}
