{%extends 'base.html'%}
{%block content%}
<div class="container">
<center><h4>Planta Piloto y centro de investigación.</h4></center>

<br>
<p>
Descripción de la propuesta
<br>
<br>
La necesidad de evaluar técnicamente el funcionamiento de los catalizadores que adquiere PEMEX Refinación, para sus diferentes procesos, ha motivado el desarrollo de proyectos tecnológicos que permitan conocer las condiciones operativas adecuadas y comparar el rendimiento que reportan los catalizadores ofrecidos por diferentes proveedores.
<br><br>
La presente propuesta busca diseñar e instalar una Planta Piloto para poder evaluar los catalizadores empleados en la reformación catalítica de naftas. Durante el proceso de adquisición de estos insumos, es necesario llevar a cabo la evaluación técnica que complemente el esquema de toma de decisiones que realiza PEMEX Refinación, previo a la compra de enormes cantidades de material catalítico que abastece el Sistema Nacional de Refinación.
<br><br>
Para cumplir con los requerimientos de evaluación técnica que tiene PEMEX Refinación, se plantea la instalación de una planta piloto de 500 cc de capacidad de catalizador y entre 0.75 y 3.0 1/h de espacio velocidad de la carga, para los tres tipos de proceso validables: 
<br><br>
a) alimentación fresca de catalizador al proceso de reformación <br>
b) proceso semi-regenerativo<br>
c) proceso de regeneración continua.<br>
<br>

La información a obtenerse de la Planta Piloto es la siguiente:
<br><br>
1) EL balance de materia del proceso<br>
2) El balance de Hidrógeno para todo el sistema<br>
3) El rendimiento de reformado líquido<br>
4) La producción de Hidrógeno.<br>
5) La actividad del catalizador expresada como:<br> 

<dir>a) la relación con la calidad de la carga (Análisis PONA)<br></dir>
<dir>b) la temperatura de reacción <br></dir>
<dir>c) el espacio-velocidad <br></dir>
<dir>d) la calidad del producto reformado (Análisis RON).<br></dir>

<br>
Para la validación de los resultados obtenidos se instalará un laboratorio de Hidrocarburos en el que se desarrollen las siguientes técnicas analíticas:
<br><br>
a) cromatografía de gases (con detector FID y acoplada al espectrofotómetro de Masas) para análisis de compuestos parafínicos, isoparafínicos, aromáticos, nafténicos y olefínicos (PIANO)<br>
b) Cromatografía de líquidos<br>
c) Equipo para la medición del índice de octano y se complementarán con equipos de destilación, tanto en la planta piloto como en laboratorio, para la preparación de las muestras obtenidas durante la evaluación.<br>

<br>
Además se plantea instalar un sistema de plantas piloto para investigación consistentes de un sistema de multireactores catalíticos con volúmenes variables de 0.5 cc hasta 50 cc y una unidad de cama micro catalítico, que permitan mantener el consorcio institucional a la vanguardia en técnicas de evaluación de catalizadores.
</p>
</div>
{%endblock content%}
